
@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    Panel de Primaria
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-sm-6">
                            <input type="number" placeholder="Código" name="codigo" id="codigo" class="form-control" />
                        </div>
                        <div class="col-sm-6">
                            <input type="date" placeholder="Fecha: " name="fecha" id="fecha" class="form-control" />
                        </div>
                        <br />
                        <br />
                        <div class="col-sm-offset-2 col-sm-10">
                            <select name="idProveedor" class="form-control">
                                @foreach (var proveedor in ViewBag.idProveedor)
                                {
                                    <option value="@proveedor.IdProveedor">@proveedor.Representante</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    Panel de Secundario
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-sm-6">
                            <select name="idProducto" class="form-control">
                                @foreach (var producto in ViewBag.idProducto)
                                {
                                    <option value="@producto.IdProducto">@producto.Nombre</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input type="number" placeholder="idProducto" name="idPro" id="idPro" class="form-control" readonly />
                        </div>
                        <br />
                        <br />
                        <div class="col-sm-6">
                            <input type="text" placeholder="Dato" name="dato" id="dato" class="form-control" readonly />
                        </div>
                        <div class="col-sm-6">
                            <input type="number" placeholder="cantidad" name="cantidad" id="cantidad" class="form-control" />
                        </div>
                        <br />
                        <br />
                        <div class="col-sm-6">
                            <input type="number" placeholder="Precio" name="precio" id="precio" class="form-control" />
                        </div>
                        <div class="col-sm-6">
                            <button id="btnEnviar" class="btn btn-info"><span class="glyphicon glyphicon-circle-arrow-down"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    Panel de Detalle
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="alert-info">
                                <tr>
                                    <td>#</td>
                                    <td>Nombre</td>
                                    <td>Cantidad</td>
                                    <td>Precio</td>
                                    <td>SubTotal</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="fila">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="hidden" class="form-control" name="subt1" id="subt1" value="0" />
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="col-sm-offset-4 col-sm-4 form-inline">
                            <label class="col-sm-3">Total: </label><input type="number" name="total" id="total" class="form-control col-sm-9" readonly />
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-success" name="btnEnviarF" id="btnEnviarF">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

